<template name="Purchases">
 {{> pageHeader title="Puchases home " desc="Track your purchases here"}}
 {{#staggering}}
  <div class="content">
  	    <div class="col-lg-12">
		    <div class="row">
		    	<div class="col-md-6"> 
					<legend>Click on the row to update or do purchase</legend>
					 	{{#panel}}
							{{> reactiveTable settings=settings class="table table-bordered table-hover table-striped"}}  
						{{/panel}}
				</div>
				 <div class="col-lg-4">
				 	<legend>Your purchase trend</legend>
	                {{#panel}}
	                    <div>
	                        <canvas id="doughnutChart" height="140"></canvas>
	                    </div>
	                {{/panel}}
            	</div>
			</div>
			<div class="row"> 
				<legend>Purchase transaction History</legend>
				 	{{#panel}}
						{{> reactiveTable collection=purchaseCollection showFilter=true rowsPerPage=5 class="table table-hover table-striped"}}  
					{{/panel}}
			</div>
		</div>
	</div>
	{{/staggering}}
</template>
