<template name="register">

    <div class="back-link">
        <a href="{{pathFor route='landingPage'}}" class="btn btn-primary">Back to Home</a>
    </div>

    <div class="register-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3><strong>Registration</strong></h3>
                    <small>Admin supervised registration</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="registerForm">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>Username</label>
                                    <input type="" value="" id="inputName" class="form-control" name="">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Password</label>
                                    <input type="password" value="" id="inputPassword" class="form-control" name="">
                                </div>
                                <!-- <div class="form-group col-lg-6">
                                    <label>Repeat Password</label>
                                    <input type="password" value="" id="inputPassword" class="form-control" name="">
                                </div> -->
                                <div class="form-group col-lg-6">
                                    <label>Email Address</label>
                                    <input type="" value="" id="inputEmail" class="form-control" name="">
                                </div>
                               <!--  <div class="form-group col-lg-6">
                                    <label>Repeat Email Address</label>
                                    <input type="" value="" id="" class="form-control" name="">
                                </div> -->
                                
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success">Register</button>
                                <button class="btn btn-default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>BOOKER</strong> - business made easy for you <br/> 2015 Copyright exosolTech
            </div>
        </div>
    </div>
</template>