<template name="Inventory">
  
 {{> pageHeader title="Stocks home " desc="Maintain stocks.Updated Delete and trigger purchase"}}
 {{#staggering}}
  <div class="content"> 
<div class="col-lg-5">
  <form class="form-horizontal" id="inventory-form" data-toggle="validator">
  <fieldset>
    <legend>Add New Item</legend>
    <div class="form-group">
      <label for="itemName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="itemName" placeholder="Name" required>
         <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="itemCategory" class="col-lg-2 control-label">Category</label>
      <div class="col-lg-10">
        <select class="form-control" id="itemCategory" placeholder="Category" required>
        <option>Tyres</option>
        <option>Batteries</option>
	    <option>Wheels</option>
	    <option>Services</option>
	    <option>Meseleneous</option>
	    </select>
      </div>
       <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label for="itemPp" class="col-lg-2 control-label">Purchase price</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd"></span>
        <input type="number" class="form-control" id="itemPp" placeholder="purchase price" required>
         <div class="help-block with-errors"></div>
      </div>
    </div>
     <div class="form-group">
      <label for="itemSp" class="col-lg-2 control-label">Selling price(without GST)</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd"></span>
        <input type="number" class="form-control" id="itemSp" placeholder="Selling price" required>
         <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="itemVendor" class="col-lg-2 control-label">Supplier</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd"></span>
        <input type="text" class="form-control" id="itemVendor" placeholder="Vendor Name" required>
         <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="discounts" class="col-lg-2 control-label">Discounts</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd"></span>
        <input type="number" class="form-control" id="discounts" placeholder="allowed discounts" required>
         <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="notes" class="col-lg-2 control-label">Notes</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="notes"></textarea>
       
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>
<div class="col-lg-7">
	<legend>Stock List</legend>

	<div class="form-group">
        <input type="text" class="form-control input-sm m-b-md" id="filter" placeholder="Search in table">

          <table id="example1" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
            <thead data-toggle="true"></thead>
              <tbody>
              {{#each item}}
                  <tr>
                      <div class="col-md-10">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h3 class="panel-title"><strong>{{itemName}}</strong></h3> <a type="button" href="/purchases/{{_id}}" class="btn btn-success btn-xs">purchase or update</a> <a type="button" id="delete" class="btn btn-danger btn-xs">delete</a>
                              </div>
                              <div class="panel-body">


                                  There are <span class="badge">{{units}}</span> tyres in stock.
                                  Selling price is at <span class="badge">$ {{itemSellingPrice}}</span>
                                  Avaliable discount is <span class="badge">$ {{discounts}} </span> on this item.
                                  <br>
                                  Notes: {{notes}}
                              </div>
                          </div>
                      </div>
                  </tr>
              {{/each}}

            </tbody>
          </table>
    </div>
</div>
</div>
{{/staggering}}

</template>
