<template name="navigation">
    <aside id="menu">
        <div id="navigation">
            <div class="profile-picture">
                <a href="{{pathFor route='dashboard'}}">
                    <img src="" class="img-circle m-b" alt="logo">
                </a>

                <div class="stats-label text-color">
                    <span class="font-extra-bold font-uppercase">Test User</span>

                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <small class="text-muted">Admin <b class="caret"></b></small>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{pathFor route='contacts'}}">Contacts</a></li>
                            <li><a href="{{pathFor route='profile'}}">Profile</a></li>
                            <li class="divider"></li>
                            <li><a id="logoutLink" href="{{pathFor route='landingPage'}}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="nav" id="side-menu">
                <li class="{{isActiveRoute regex='dashboard'}}">
                    <a href="{{pathFor route='dashboard'}}"> <span class="nav-label">Dashboard</span> <span class="label label-success pull-right">v.1</span> </a>
                </li>
                <li class="{{isActiveRoute regex='sales'}}">
                    <a href="{{pathFor route='sales'}}"> <span class="nav-label">Sales</span><span class="label label-warning pull-right">one click sales</span> </a>
                </li>

                <li class="{{isActiveRoute regex='purchases'}}">
                    <a href="{{pathFor route='purchases'}}"><span class="nav-label">Purchases</span></a>
                    
                </li>
                <li class="{{isActiveRoute regex='inventory'}}">
                    <a href="/inventory"><span class="nav-label">Stock</span></a>
                    
                </li>
                <!--<li class="{{isActiveRoute regex='chartist|chartJs|flot|inlineGraphs'}}">-->
                    <!--<a href="#"><span class="nav-label">Customers</span><span class="fa arrow"></span> </a>-->
               <!---->
                <!--</li>-->
                <!--<li class="{{isActiveRoute regex='transitionOverview|transitionOne|transitionTwo|transitionThree|transitionFour|transitionFive'}}">-->
                    <!--<a href="#"><span class="nav-label">Vendors</span><span class="fa arrow"></span> </a>-->
               <!---->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#"><span class="nav-label">Reports</span><span class="fa arrow"></span> </a>-->
               <!---->
                <!--</li>-->
                <!--<li class="{{isActiveRoute regex='tablesDesign|dataTables|fooTable'}}">-->
                    <!--<a href="#"><span class="nav-label">Invoices</span><span class="fa arrow"></span> </a>-->
               <!---->
                <!--</li>-->
               <!---->
            </ul>
        </div>
    </aside>
</template>