<template name="Sales">
  {{> pageHeader title="Sales home " desc="Create new sales order here"}}
	 {{#staggering}}
		  <div class="content">
			  	<div class="content">
			  		<div class="row">
				  		<div class="col-md-4">
				  			<legend>Click on rows to add to list</legend>
						 	
								{{> reactiveTable settings=settings class="table table-hover table-striped table-bordered table-table-striped table-responsive"}}
				    	</div>

						 <div class="col-lg-8">
                    <!-- {{#panel }} -->
                    		<legend>Sale list</legend>

                        <div class="row">
                            {{totalCost}}
                        </div>
                        <div class="row">
                            <table id="salesTable" class="salesTable table table-responsive table-bordered table-striped" style="clear: both">
		                        <thead>
			                        <tr>
			                            <th>Name</th>
			                            <th>Quantity</th>
			                            <th>Selling Price</th>
			                            <th>Discounts</th>
			                            <th>Actions</th>			                            
			                        </tr>
		                        </thead>
		                        <tbody>

                                </tbody>
                            </table>                        
                        </div>


                    <!-- {{/panel}} -->
                </div>

					</div>
		  		</div>
	  		</div>
	   {{/staggering}}
</template>
