<template name="footer">
    <footer class="footer">
        <span class="pull-right">
            booker - business made easy for you
        </span>
        @ exosolTech 2015-2020
    </footer>
</template>
