<template name="splash">
    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title"><h1>Booker - business made easy for you</h1>
            <p>Manage your inventory. Keep track of purchases and sales. CRM for customer and vendor management </p><img src="images/loading-bars.svg" width="64" height="64"/></div>
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
</template>