<template name="layout">

    <!-- Splash screen -->
    {{>splash }}

    <!-- Header -->
    {{> header }}

    <!-- Navigation -->
    {{> navigation }}

    <!-- Main Wrapper -->
    <div id="wrapper">
        {{> yield}}

        <!-- Right sidebar -->
        {{> rightSidebar }}

        <!-- Footer -->
        {{> footer }}
    </div>

</template>