<template name="purchases_local">
   
 {{> pageHeader title="Purchase & update stock " desc="Topup your stocks from here. Upated purchase price/selling price/discounts"}}
 {{#staggering}}
  <div class="content"> 
  
  <form class="form-horizontal" id="purchase-local-form" data-toggle="validator">
  <fieldset>
  <div class="col-lg-6">
    <legend>Purchase order for {{itemName}}</legend>
     <div class="form-group">
      <label for="newUnits" class="col-lg-2 control-label">Quantity to purchase</label>
      <div class="col-lg-10">
      <input type="text" class="form-control" id="newUnits" placeholder="Quantity to Purchase" required >
      <div class="help-block with-errors"></div>
      </div>
    </div>
    <p>If its a new supplier then please update here. </p><br>
    <div class="form-group">
      <label for="itemVendor" class="col-lg-2 control-label">New Supplier</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd"></span>
        <input type="text" class="form-control" id="itemVendor" placeholder="Vendor Name" required value={{itemVendor}}>
         <div class="help-block with-errors"></div>
      </div>
    </div>
     <p>Following are the current values in the system. You can change them from this form </p><br>
    <div class="form-group">
      <label for="itemPp" class="col-lg-2 control-label">Purchase price</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd">Purchase price should be inclusive of GST</span>
        <input type="text" class="form-control" id="itemPp" placeholder="purchase price" required value={{itemPurchasePrice}}>
         <div class="help-block with-errors"></div>
      </div>
    </div>
     <div class="form-group">
      <label for="itemSp" class="col-lg-2 control-label">Selling price</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd">Selling price shown here is inclusive of GST</span>
        <input type="text" class="form-control" id="itemSp" placeholder="Selling price" required value={{itemSellingPrice}}>
         <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="discounts" class="col-lg-2 control-label">Discounts</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd"></span>
        <input type="text" class="form-control" id="discounts" placeholder="allowed discounts" required value={{discounts}}>
         <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="notes" class="col-lg-2 control-label">Notes</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="notes" value={{notes}}></textarea>
         </div>
    </div>

    <div class="form-group">
      <div class="col-lg-5 col-lg-offset-5">
        <button type="reset" class="btn btn-danger" id="cancel">Cancel</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>

    </div>
    </div>
    <div class="col-lg-6">
    
    <legend>Details on record for  {{itemName}}</legend>
    
      <div class="form-group">
	      <label for="itemUnits" class="col-lg-2 control-label">Quantity in stock</label>
	      <div class="col-lg-10">
	      	<input type="text" class="form-control" id="itemUnits" placeholder="Quantity to Purchase" required value={{units}} disabled="true">
	      <div class="help-block with-errors"></div>
      	  </div>
    </div>
    <div class="form-group">
      <label for="itemName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="itemName" placeholder="Name" required value={{itemName}} disabled="true">
         <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="itemCategory" class="col-lg-2 control-label">Category</label>
      <div class="col-lg-10">
      <input type="text" class="form-control" id="itemCategory" placeholder="Name" required value={{itemCategory}} disabled="true">
      <div class="help-block with-errors"></div>
      </div>
    </div>    
    
    <div class="form-group">
      <label for="itemVendor" class="col-lg-2 control-label">Last Supplier</label>
      <div class="col-lg-10">
      	<span class="glyphicons glyphicons-usd"></span>
        <input type="text" class="form-control" id="itemVendor" placeholder="Vendor Name" required value={{itemVendor}} disabled="true">
         <div class="help-block with-errors"></div>
      </div>
    </div>
    
    

 
  </div>
   </fieldset>
</form>
</div>
   {{/staggering}}
  
</template>
