<template name="login">

    <div class="back-link">
        <a href="{{pathFor route='landingPage'}}" class="btn btn-primary">Back to Home</a>
    </div>

    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3><strong>PLEASE LOGIN TO BOOKER</strong></h3>
                    <small>This is a private app and you need to login to get authorised</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                <input type="email" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                                <span class="help-block small">Your unique username to app</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" class="i-checks" checked>
                                Remember login
                                <p class="help-block small">(if this is a private computer)</p>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>
                            <a class="btn btn-primary btn-block" href="{{pathFor route='register'}}">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>BOOKER</strong> - business made easy for you <br/> 2015 Copyright exosolTech
            </div>
        </div>
    </div>
</template>